.booking {
  padding: 50px 0 48px;
  background-color: #87ceeb;
  position: relative;

  @include vp-1023 {
    padding: 96px 0 99px;
  }

  @include vp-767 {
    padding: 67px 0;
  }
}

.booking img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.booking h3 {
  margin: -7px 0 8px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  @include vp-1023 {
    margin-bottom: 4px;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 13px;
    font-size: 24px;
    line-height: 31px;
  }
}

.booking p {
  margin: 0;
  font-size: 18px;
  line-height: 27px;

  @include vp-767 {
    padding-left: 11px;
    font-size: 16px;
    line-height: 22px;
  }
}

.booking__wrapper {
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;

  @include vp-1023 {
    flex-direction: column;
  }

  @include vp-767 {
    padding: 0 5px;
  }
}

.booking__intro {
  @include vp-1023 {
    padding: 0 3px;
    margin-bottom: 52px;
  }


  @include vp-767 {
    padding: 0;
    margin-bottom: 33px;
  }
}

.booking__intro p {
  max-width: 391px;

  @include vp-1023 {
    padding-left: 27px;
    text-align: center;
  }

  @include vp-767 {
    padding-right: 7px;
  }
}

.booking__form-wrapper {
  max-width: 403px;
  padding: 43px 50px 50px;
  background-color: $color-tangaroa;

  @include vp-767 {
    padding: 35px 30px 39px;
  }
}

.booking__form-wrapper p {
  margin-bottom: 28px;
  color: $color-alice-blue;
  text-align: left;

  @include vp-767 {
    padding: 0 4px;
    margin-bottom: 29px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
}
