.head-container {
  position: relative;
  color: $color-alice-blue;
  background-color: $color-tangaroa;
  background-position: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    box-shadow: none;
  }
}

.head-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

@include vp-767 {
  .head-container.is-closed .main-nav__wrapper {
    display: none;
  }

  .head-container.is-opened .main-nav__wrapper {
    display: block;
  }

  .head-container.no-js .main-header__nav {
    @include vp-767 {
      width: 100%;
    }
  }

  .head-container.no-js .main-nav__wrapper {
    @include vp-767 {
      display: block;
      position: static;
      padding: 0;
      width: 100%;
      height: auto;
      background-color: $color-transparent;
      overflow-y: unset;
    }
  }

  .head-container.no-js .main-nav {
    @include vp-767 {
      width: 100%;
      max-width: 100%;
    }
  }

  .head-container.no-js .main-nav__logo {
    @include vp-767 {
      display: none;
    }
  }

  .head-container.no-js .main-nav__list {
    @include vp-767 {
      margin-top: 0;
      flex-direction: row;
      justify-content: flex-start;

      a {
        padding: 8px 10px;
        font-size: 12px;
        line-height: 16px;
        color: $color-alice-blue;
      }

      li {
        margin-bottom: 5px;
      }
    }
  }

  .head-container.is-closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 3px;
    width: 24px;
    height: 2px;
    background-color: $color-alice-blue;
    box-shadow: 0 5px 0 0 $color-alice-blue, 0 10px 0 0 $color-alice-blue;
  }

  .head-container.is-opened .main-nav__toggle {
    top: 17px;
    right: 7px;
  }

  .head-container.is-opened .main-nav__toggle::before,
  .head-container.is-opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 6px;
    width: 18px;
    height: 2px;
    z-index: 2;
    background-color: $color-tangaroa;
  }

  .head-container.is-opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  .head-container.is-opened .main-nav__toggle::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }

  .head-container.is-opened .main-header__logo {
    display: none;
  }

  .head-container.no-js .main-nav__toggle {
    display: none;
  }

  .head-container.is-opened .intro__wrapper {
    padding-left: 10vw;
  }

  .head-container.no-js .intro__wrapper {
    padding-left: 1.4%;
  }
}

.head-container.is-opened .main-header__nav::after {
  @include vp-767 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 7;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 43, 102, 0.5);
    content: "";
  }
}
